module.exports = {
	port: 8888,
	root: '/Users/##usrname##/Code/jarvis',
	logger: 'dev',

	art: {
		paths: [
			'/Users/##usrname##/Code/jarvis/demo/element'
		]
	},

	hosts: {
		'jarvis.org': {
			root: '/Users/##usrname##/Code/'
		}
	}
}
