<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>A demo of Javis </title>
<link rel="stylesheet" href="../css/home.css" type="text/css" />
</head>
<body>
<!-- 加载一个临时数据源 -->
<%= $template.data('./data/home') %>

<div class="page">
<h3><%=$data.desc %></h3>
<ul class="list">
<%for(i = 0; i < $data.list.length; i ++) {%>
    <li>条目内容 <%=i + 1%> ：<%=$data.list[i]%></li>
<%}%>
</ul>
<!-- list -->
<!-- 加载一个本地view 使用./代表是相对路径 -->
<%= $template.view('./element/side') %>
<!-- 加载一个全局view 注意：config.js中的art 设置全局view的路径 -->
<%= $template.view('foot') %>
</div>
<!-- page -->
</body>
</html>